################################################## FINGER_PRINTER START

######## Add for goodix fingerprint Start ########
config NUBIA_FP_GOODIX
	tristate "generic goodix fingerprint driver"
	default y
	help
	add support for goodix fingerprint driver.

if NUBIA_FP_GOODIX
source "drivers/nubia/fingerprint/goodix/Kconfig"
endif
######## Add for goodix fingerprint End   ########

################################################## FINGER_PRINTER END

